﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Greška";
}

<h1 class="text-danger">Greška.</h1>
<h2 class="text-danger">Dogodila se greška kod procesiranja vašeg zahtjeva.</h2>

