﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    textarea.form-control {
        padding: 8px 16px;
        resize: none;
        height: 250px;
    }

/* typeahead */

.tt-hint {
    color: #999;
}

.tt-menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    padding: 6px 0;
    width: 200%;
}

.tt-suggestion {
    font-size: 14px;
    line-height: 28px;
    padding: 0 20px;
}

.tt-cursor {
    color: #fff;
    background-color: #93c54b;
}

.tt-suggestion p {
    margin: 0;
}

#loading {
    display: none;
    background-color: #666;
    background-repeat: no-repeat;
    height: 94%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 63px;
}

#loading img {
    left: 45%;
    top: 180px;
    height: 150px;
    width: 150px;
    position: fixed;
}

footer {
    background-color: #fff;
}

footer .container {
    padding-top: 10px;
    border-top: 2px solid #93c54b;
}

.filters {
    margin-bottom: 10px;
    margin-top: 0;
    max-height: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
}

.filters .checkbox {
    margin-bottom: 4px;
    margin-top: 1px;
}