﻿@model Oglasnik.Models.Oglasi

@{
    ViewBag.Title = "Predaja oglasa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.naslov, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.naslov, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.naslov, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.opis, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.opis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.opis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cijena, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.cijena, new {
                   htmlAttributes = new {
                       @class = "form-control",
                       data_inputmask = "'alias': 'decimal', 'groupSeparator': ' ', 'radixPoint': ',', 'digits': 2, 'digitsOptional': false"
                   }
               })
                    @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tip komponente", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select id="tip_oglasa" name="tip_oglasa" class="form-control">
                        <option selected="selected" value="null">Odaberite tip...</option>
                        <option value="graficke">Grafička kartica</option>
                        <option value="maticne">Matična ploča</option>
                        <option value="memorije">Memorija</option>
                        <option value="psu">Napajanje</option>
                        <option value="pohrana">Pohrana</option>
                        <option value="procesori">Procesor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="detalji"></div>

        <div class="form-group">
            <div class="col-md-7">
                <input type="submit" value="Predaj oglas" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/predaj-oglas.js")
}
