﻿@{
    Layout = null;
}

@model Oglasnik.Models.Maticne

<div class="form-group">
    @Html.LabelFor(model => model.proizvodac, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.proizvodac, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.proizvodac, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.socket, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.socket, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.socket, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.potrosnja, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.potrosnja, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.potrosnja, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.memorija, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.memorija, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.memorija, "", new { @class = "text-danger" })
    </div>
</div>